@font-face {
    font-family: "Montserrat-regular";
    src: url("./font/montserrat/Montserrat-Regular.ttf") format("truetype");
    /* Safari, Android, iOS */
}
@font-face {
    font-family: "Montserrat-light";
    src: url("./font/montserrat/Montserrat-Light.ttf") format("truetype");
    /* Safari, Android, iOS */
}
@font-face {
    font-family: "Montserrat-extrabold";
    src: url("./font/montserrat/Montserrat-ExtraBold.ttf") format("truetype");
    /* Safari, Android, iOS */
}
@font-face {
    font-family: "Montserrat-medium";
    src: url("./font/montserrat/Montserrat-Medium.ttf") format("truetype");
    /* Safari, Android, iOS */
}
@font-face {
    font-family: "Barlow-el";
    src: url("./font/barlow/BarlowCondensed-ExtraLight.ttf") format("truetype");
    /* Safari, Android, iOS */
}
